::backdrop {
  background: rgba(0, 0, 0,0.75);
}

.dialog{
    background-color: #1E1E1E;
    border-radius: 8px;
}

.dialog_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dialog_container img{
    align-self: flex-end;
    cursor: pointer;
    width: 10px;
}